.idea
*.log

dist/
node_modules/
storage/

saved_variables/*

!saved_variables/manualowl
saved_variables/manualowl/*
!saved_variables/manualowl/letters.json

!saved_variables/gopro
saved_variables/gopro/*
!saved_variables/gopro/urls_hash.json

!saved_variables/dns
saved_variables/dns/*
!saved_variables/dns/productsURLs.json

databases/*_test.db
test.js
